<nav class="main-nav">
	{{ $url := replace .Permalink .Site.BaseURL "" }}
	{{ if not .IsHome }}
		<a href='{{ .Site.BaseURL }}'> <span class="arrow">←</span>{{ with .Site.Params.home }}{{ . }}{{ else }}Home{{ end }}</a>
	{{ end }}
	<a href='{{ .Site.BaseURL }}posts'>{{ with .Site.Params.archive }}{{ . }}{{ else }}アーカイブ{{ end }}</a>
	<a href='{{ .Site.BaseURL }}tags'>{{ with .Site.Params.tags }}{{ . }}{{ else }}タグ{{ end }}</a>
	<a href='{{ .Site.BaseURL }}about'>{{ with .Site.Params.about }}{{ . }}{{ else }}転職王とは{{ end }}</a>
	<a href='https://docs.google.com/forms/d/e/1FAIpQLSfgmYFhZ0B4b5O8H6doObKzHbLIp6Xuyo9U6icvOAvLIvNVCw/viewform'>お問い合わせ</a>

	{{ range $key, $val := .Site.Params.Links }}
		<a href="{{ $val }}">{{ $key }}</a>
	{{ end }}

	{{ if .Site.Params.enableRSS }}
	<a class="cta" href="{{ .Site.RSSLink }}">{{ with .Site.Params.subscribe }}{{ . }}{{ else }}Subscribe{{ end }}</a>
	{{ end }}
</nav>
